.row
  .col-md-4
    address
      h3.store-name.text-capitalize {{retailerId}} 
        span.account-number ({{randomNumber}})
      div 795 Folsom Ave, Suite 600
      div San Francisco, CA 94107
      div Tel: (123) 456-7890
      div Fax: (123) 456-7890
  .col-md-8
    h3 Chart Goes Here
    
.row
  .col-md-12
    .page-header Period of
